/* fonts */
/* play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/play-v19-cyrillic_latin-regular.woff') format('woff'),
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'),
       url('../fonts/play-v19-cyrillic_latin-700.woff') format('woff')
}
/* roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff')
}

:root {
  /* colors */
  --color-primary-light: #FFFFFF;
  --color-primary-blue-light: #2B7FFF;
  --color-primary-blue-dark: #011C44;
  --color-secondary-grey-dark: #4A4A4A;
  --color-secondary-grey-light: #747272;
  --color-secondary-blue: #011F4A;
  --color-secondary-yellow: #FFD02B;
}

/* base */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Play', sans-serif;
  color: var(--color-primary-blue-dark);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.accent {
  color: var(--color-primary-blue-light);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.button {
  background-color: var(--color-primary-blue-light);
  color: var(--color-primary-light);
  border-radius: 32px;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-blue-light);
  color: var(--color-primary-blue-dark);
}

.section {
  padding: 48px 20px;
}

.section-title {
  font-size: 64px;
  line-height: 1.16;
  font-family: 'Play';
}

address {
  color: var(--color-primary-light);
  font-style: normal;
}

.link {
  color: var(--color-primary-blue-dark);
  text-decoration: none;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

/* header */
.header {
  /* background-color: #444; */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header-container {
  display: flex;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-link {
  font-size: 18px;
  font-weight: 400;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
}

.header-link:hover {
  color: var(--color-secondary-blue);
}

.header-social {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-social svg {
  fill: var(--color-primary-blue-dark);
}

/* hero */
.hero {
  padding: 0 20px;
}

.hero {
  background-image: url('../img/hero.jpg');
  background-position: right;
  background-repeat: no-repeat;
}

.hero-container {
  padding: 20px 0 126px 140px;
}

.hero-subtitle {
  margin-bottom: 16px;
}

.hero-title {
  color: var(--color-primary-blue-light);
  font-family: 'Play';
  font-size: 114px;
  line-height: 1.2;
  margin-bottom: 40px;
  max-width: 529px;
}

.hero-button {
  display: inline-block;
  margin-bottom: 14px;
}

.hero-descr {
  max-width: 238px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.5;
}

/* about */
.about {
  padding: 91px 20px 0;
}
.about-container {
  display: flex;
  gap: 32px;
}

.about-content {
  max-width: 709px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about-text {
  font-size: 22px;
  line-height: 1.7;
}

.about-imgs {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about-imgs img {
  border-radius: 50%;
}

/* why we */
.why-we {
  background-image: url('../img/we-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
}

.why-we-title {
  max-width: 432px;
  margin-bottom: 48px;
}

.why-we-container {
  padding: 176px 0 96px;
  max-width: 1060px;
  margin: 0 auto;
}

/* advantages */
.advantages-items {
  display: flex;
  gap: 56px;
}

.advantages-icon {
  margin-bottom: 8px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: 1.33;
  padding: 24px 32px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-item-text {
  text-align: center;
  max-width: 252px;
}

/* procedures */
.procedures-title {
  margin-bottom: 50px;
}

.procedures-slider {
  display: flex;
  align-items: center;
  gap: 16px;
}

.procedures-slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-secondary-blue);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.procedures-slide {
  border-radius: 4px 120px;
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
}

.procedures-slide img {
  border-radius: 4px 120px;
}

.procedures-slide p {
  color: var(--color-primary-light);
}

/* contacts */
.contacts-container {
  max-width: 1060px;
  margin: 0 auto;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-content {
  display: flex;
  gap: 32px;
}

.contacts-map {
  border-radius: 32px;
  flex-grow: 1;
}

.contacts-form {
  border-radius: 32px;
  background-color: var(--color-primary-blue-dark);
  padding: 48px 56px;
}

.contacts-form-title {
  font-size: 22px;
  font-weight: 600;
  max-width: 274px;
  color: var(--color-primary-light);
}

/* footer */
.footer {
  background-color: var(--color-primary-blue-dark);
  margin: 0;
}

.footer-container {
  padding: 56px;
  display: flex;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
}

.footer-logo {
  display: inline-block;
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.footer-menu li {
  margin-bottom: 16px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
}

.address-list {
  flex-grow: 1;
}

.address-list li {
  margin-bottom: 16px;
}

.address-info {
  flex-grow: 1;
}

.address-info li {
  margin-bottom: 16px;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-copyright {
  font-size: 13px;
  color: var(--color-secondary-grey-light);
}

.footer-social {
  fill: var(--color-primary-light);
}

.address-info-link {
  margin-bottom: 16px;
}